* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-transform: capitalize;
}

@media screen and (max-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: 300px;
        gap: 30px;
        margin: 10px;
        padding: 10px;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        gap: 30px;
        margin: 10px;
        padding: 10px;
        justify-content: center;
    }
}

.container .box {
    background-color: rgb(161, 192, 219);
    max-width: 302px;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}



.container .box .download a {
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 12px;
    border-radius: 10px;
}