.container {
    position: relative;
    height: 90vh;
    width: 90vw;
    background-color: blue;
}

.box {
    height: 121px;
    width: 121px;
    background-color: red;
    border-radius: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: animateX 3s linear infinite, animateY 1s ease-out infinite alternate;
    /* animation: Y-axis 8s alternate-reverse 1s infinite,X-axis 8s linear 1s infinite; */
}

/* @keyframes X-axis {
    from{

    }
    to
    {
        transform: translateX(80vw);
    }
}

@keyframes Y-axis {
    0%
    {
        transform: translateY(0);
    }
    25%
    {
        transform: translateY(-40vh);
    }
    50%
    {
        transform: translateY(0);
    }
    75%
    {
        transform: translateY(-40vh);
    }
    100%
    {
        transform: translateY(0);
    }
} */

@keyframes animateX {
    from {
        left: 0;
    }

    to {
        left: 100%;
    }
}

@keyframes animateY {
    from {
        bottom: 0;
    }

    to {
        bottom: 100%;
    }
}