.cards{
    border: 2px solid black;
    display: flow-root;
}

img{
    float: left;
}
.card{
    border: 2px solid blue;
    padding: 2px;
    margin: 2px;
}

.card:nth-child(3)
{
    clear: both;
    /* clear :right; */
    /* clear: left; */
}