.dhruvin {
    color: red;
    background-color: white;
}

#myid {
    color: white;
    background-color: red;
}

.red {
    color: red;
}

.bg-yellow {
    background-color: yellow;
}

#firstdiv {
    /* background-color: red; */
}